body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(img/forest.jpg);
}

.box {
  background-color: #0433033f;
  width: 300px;
  height: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
}

.header1 {
  color: white;
  text-decoration: underline;
}

input {
  margin: 15px;
  padding: 10px 10px;
  color: white;
  text-align: center;
  background: none;
  border: 2px solid lightgreen;
  border-radius: 24px;
  outline: none;
}

input:focus {
  margin: 15px;
  padding: 15px 14px;
  background-color: none;
  border: 2px solid lightseagreen;
}

.btn {
  border-radius: 24px;
  width: 150px;
  text-decoration: none;
  padding: 10px;
}

.btn:hover {
  border-radius: 24px;
  text-decoration: none;
  background-color: lightgreen;
  cursor: pointer;
  color: black;
}
